## Pandas

In [41]:
import pandas as pd

### Pandas Series Object

In [42]:
s1 = pd.Series([1, 2, 3, 4, 5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [43]:
type(s1)

pandas.core.series.Series

### Changing Index

In [44]:
s1 = pd.Series([1, 2, 3, 4, 5], index= ["a", "b", "c", "d", "e"])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

### Series Object from Dictionary

In [45]:
s1 = pd.Series({"a": 10, "b": 20, "c": 30, "d": 40, "e": 50})
s1

a    10
b    20
c    30
d    40
e    50
dtype: int64

### Changing Index Position

In [46]:
s1 = pd.Series({"a": 10, "b": 20, "c": 30, "d": 40, "e": 50}, index = ["b", "c", "d", "f", "e"])
s1

b    20.0
c    30.0
d    40.0
f     NaN
e    50.0
dtype: float64

### Extracting Individuals Elements

In [47]:
l1 = [1, 2, 3, 4, 5]
s1 = pd.Series(l1)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [48]:
s1[2]

3

In [49]:
s1[:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [50]:
s1[-3:]

2    3
3    4
4    5
dtype: int64

### Basic Math Operations on Series

In [51]:
s1 = pd.Series([10, 20, 30, 40, 50])
s1 + 5

0    15
1    25
2    35
3    45
4    55
dtype: int64

In [52]:
s1 - 5

0     5
1    15
2    25
3    35
4    45
dtype: int64

In [53]:
s1 * 5

0     50
1    100
2    150
3    200
4    250
dtype: int64

In [54]:
s1 / 5

0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
dtype: float64

In [55]:
s2 = pd.Series([60, 70, 80, 90, 100])
s1 + s2

0     70
1     90
2    110
3    130
4    150
dtype: int64

### Pandas Dataframe

In [56]:
d1 = pd.DataFrame({"Name": ["Krish", "Abir", "Anirban"], "Marks": [91, 86, 83]})
d1

      Name  Marks
0    Krish     91
1     Abir     86
2  Anirban     83

### Dataframe In-Built Functions

In [57]:
iris = pd.read_csv("D:\Coding\Python Workspace for Jupyter Notebook\Python for Data Science\Datasets\iris.csv")

In [58]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [59]:
iris.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [60]:
iris.shape

(150, 5)

In [61]:
iris.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### .iloc[] Method

In [62]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [63]:
iris.iloc[5:11, 2:4]

    petal.length  petal.width
5            1.7          0.4
6            1.4          0.3
7            1.5          0.2
8            1.4          0.2
9            1.5          0.1
10           1.5          0.2

In [64]:
iris.iloc[5:11, 2:]

    petal.length  petal.width variety
5            1.7          0.4  Setosa
6            1.4          0.3  Setosa
7            1.5          0.2  Setosa
8            1.4          0.2  Setosa
9            1.5          0.1  Setosa
10           1.5          0.2  Setosa

### .loc[] Method

In [65]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [66]:
iris.loc[0:10, ("petal.length", "variety")]

    petal.length variety
0            1.4  Setosa
1            1.4  Setosa
2            1.3  Setosa
3            1.5  Setosa
4            1.4  Setosa
5            1.7  Setosa
6            1.4  Setosa
7            1.5  Setosa
8            1.4  Setosa
9            1.5  Setosa
10           1.5  Setosa

### Dropping Columns

In [67]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [68]:
iris.drop("variety", axis = 1)

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [69]:
i1 = iris.drop([5, 6, 7], axis = 0)
i1.head(10)

    sepal.length  sepal.width  petal.length  petal.width variety
0            5.1          3.5           1.4          0.2  Setosa
1            4.9          3.0           1.4          0.2  Setosa
2            4.7          3.2           1.3          0.2  Setosa
3            4.6          3.1           1.5          0.2  Setosa
4            5.0          3.6           1.4          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa

### More Pandas Function

In [70]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [71]:
iris.min()

sepal.length       4.3
sepal.width        2.0
petal.length       1.0
petal.width        0.1
variety         Setosa
dtype: object

In [72]:
iris.max()

sepal.length          7.9
sepal.width           4.4
petal.length          6.9
petal.width           2.5
variety         Virginica
dtype: object

In [73]:
iris.mean(numeric_only=True)

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

In [74]:
iris.median(numeric_only=True)

sepal.length    5.80
sepal.width     3.00
petal.length    4.35
petal.width     1.30
dtype: float64

In [75]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [76]:
def double(x):
    return x * 2

In [77]:
iris[["sepal.width", "petal.width"]].apply(double)

     sepal.width  petal.width
0            7.0          0.4
1            6.0          0.4
2            6.4          0.4
3            6.2          0.4
4            7.2          0.4
..           ...          ...
145          6.0          4.6
146          5.0          3.8
147          6.0          4.0
148          6.8          4.6
149          6.0          3.6

[150 rows x 2 columns]

In [78]:
iris["variety"].value_counts()

Setosa        50
Versicolor    50
Virginica     50
Name: variety, dtype: int64

In [79]:
iris.sort_values(by="petal.width")

     sepal.length  sepal.width  petal.length  petal.width    variety
32            5.2          4.1           1.5          0.1     Setosa
13            4.3          3.0           1.1          0.1     Setosa
37            4.9          3.6           1.4          0.1     Setosa
9             4.9          3.1           1.5          0.1     Setosa
12            4.8          3.0           1.4          0.1     Setosa
..            ...          ...           ...          ...        ...
140           6.7          3.1           5.6          2.4  Virginica
114           5.8          2.8           5.1          2.4  Virginica
100           6.3          3.3           6.0          2.5  Virginica
144           6.7          3.3           5.7          2.5  Virginica
109           7.2          3.6           6.1          2.5  Virginica

[150 rows x 5 columns]